{% extends 'base.html' %}

{% block content %}
<main>
    <div>
        <h1>{{show_project.name}}</h1>
            <p>{{show_project.description}}</p>
        <h2> Tasks </h2>
            <p>
                <a href={% url 'create_task' %}>Create a new task</a>
            </p>
        {% if show_project.tasks.all|length == 0 %}
            <p>This project has no tasks</p>
        {% else %}
            <table>
                <thead>
                    <th>Name</th>
                    <th>Assignee</th>
                    <th>Start date</th>
                    <th>Due date</th>
                    <th>Is completed</th>
                </thead>
                <tbody>
                    {% for task in show_project.tasks.all %}
                        <tr>
                            <td>{{task.name}}</td>
                            <td>{{task.assignee}}</td>
                            <td>{{task.start_date}}</td>
                            <td>{{task.due_date}}</td>
                            <td>{{task.|yesno:"yes,no"}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
</main>
{% endblock content %}
